<%-  include("partials/_header.ejs") -%>
   <body>
      <%-  include("partials/_navigation.ejs") -%>
      <!-- blog section start -->
      <% if(!user) {%>
         <div class="blog_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="blog_taital">Trending Products</h1>
                  </div>
                  <div class="offset-md-4  col-md-3">
                     <form action="/blog" method="GET">
                        <div class="input-group" >
                           <input type="search" name="search" class="form-control rounded"  placeholder="Search" aria-label="Search"
                             aria-describedby="search-addon" style="border-color: black;color:black" />
                           <button type="submit" class="btn btn-outline-primary">search</button>
                         </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="blog_section_2 layout_padding">
                  <div class="row">
                     <%for(let i=0;i<product.length;i++){%>
                     <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="blog_box">
                           <div class="blog_img">
                              <a href="product/detail/<%=product[i].slug%>"><img src="/images/about-img.png"></a>
                           </div>
                           <p class="chair_text"><%=product[i].product_name%></p>
                           <% if ( user && !(user.products.includes(product[i]._id))  ) { %>
                           <form action="/product/reserved" method="POST">
                              <input type="hidden" name="product_id" value="<%=product[i]._id%>">
                              <button class="btn btn-warning text-white ml-auto"><span>Reserved</span></button>
                           </form>
                           <% } %>
                        </div>
                     </div>
                     <%}%>
                  </div>
               </div>
               <div class="readmore_bt"><a href="#">See More</a></div>
            </div>
         </div>
         <% } %>







      <% if(user && user.role=='customer') {%>
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="blog_taital">Trending Products</h1>
               </div>
               <div class="offset-md-4  col-md-3">
                  <form action="/blog" method="GET">
                     <div class="input-group" >
                        <input type="search" name="search" class="form-control rounded"  placeholder="Search" aria-label="Search"
                          aria-describedby="search-addon" style="border-color: black;color:black" />
                        <button type="submit" class="btn btn-outline-primary">search</button>
                      </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="blog_section_2 layout_padding">
               <div class="row">
                  <%for(let i=0;i<product.length;i++){%>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img">
                           <a href="product/detail/<%=product[i].slug%>"><img src="/images/about-img.png"></a>
                        </div>
                        <p class="chair_text"><%=product[i].product_name%></p>
                        <% if ( user && !(user.products.includes(product[i]._id))  ) { %>
                        <form action="/product/reserved" method="POST">
                           <input type="hidden" name="product_id" value="<%=product[i]._id%>">
                           <button class="btn btn-warning text-white ml-auto"><span>Reserved</span></button>
                        </form>
                        <% } %>
                     </div>
                  </div>
                  <%}%>
               </div>
            </div>
            <div class="readmore_bt"><a href="#">See More</a></div>
         </div>
      </div>
      <% } %>


      <% if(user && user.role=='admin') {%>
         <div class="blog_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="blog_taital">Trending Products</h1>
                  </div>
                  <div class="col-md-12">
                     <% if (flashMessages) { %>
                        <% if (flashMessages.success) { %>
                          <div class="alert alert-success">
                        <%= flashMessages.success %>
                        </div>
                      <% } else if (flashMessages.error) { %>
                       <div class="alert alert-danger">
                        <%= flashMessages.error %>
                        </div>
                        <% } %>
                      <% } %>
                  </div>
                  <div class="offset-md-4  col-md-3">
                     <form action="/blog" method="GET">
                        <div class="input-group" >
                           <input type="search" name="search" class="form-control rounded"  placeholder="Search" aria-label="Search"
                             aria-describedby="search-addon" style="border-color: black;color:black" />
                           <button type="submit" class="btn btn-outline-primary">search</button>
                         </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="blog_section_2 layout_padding">
                  <div class="row">
                     <%for(let i=0;i<product.length;i++){%>
                     <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="blog_box">
                           <div class="blog_img">
                              <a href="product/detail/<%=product[i].slug%>"><img src="/images/about-img.png"></a>
                           </div>
                           <p class="chair_text"><%=product[i].product_name%></p>
                           <div style="display: flex; justify-content:space-between">
                           <button type="button" class="btn btn-warning text-white" data-toggle="modal" data-target="#exampleModal<%=product[i].slug%>" data-whatever="@getbootstrap">UPDATE</button>
                           <a href="/product/<%=product[i].slug%>?_method=DELETE" onclick="return confirm('ARE YOU SURE')" class="btn btn-danger text-white " >DELETE</a>
                           </div>
                           <!--UPDATE-->
                           <div class="modal fade" id="exampleModal<%=product[i].slug%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                              <div class="modal-content">

                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">PRODUCT</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>

                                 <div class="modal-body">
                                    <form method="POST" action="/product/<%=product[i].slug%>?_method=PUT">
                                       <div class="form-group">
                                          <input name="product_name" type="text" class="form-control" style="color: black;" value="<%=product[i].product_name%>" >
                                       </div>
                                       <hr>
                                       <div class="form-group">
                                          <input name="product_description" type="text" class="form-control"  style="color: black;" value="<%=product[i].product_description%>">
                                       </div>
                                       <div class="form-group">
                                          <input name="role" type="hidden" class="form-control"  style="color: black;" value="<%=product[i].role%>">
                                       </div>
                                       <hr>
                                       <select name="category" class="form-select" aria-label="Default select example" >
                                          <%for(let j=0;j<category1.length;j++){%>
                                             <option value="<%=category1[j]._id%>"><%=category1[j].category_name%></option>
                                          <%}%>
                                       </select>
                                       <hr>
                                       <div class="form-group" style="display: block;">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button class="btn btn-primary" type="submit">Update</button>
                                       </div>
                                    </form>
                                 </div>

                              </div>
                              </div>
                           </div>
                           <!--UPDATE finish-->
                        </div>
                     </div>
                     <%}%>
                  </div>
               </div>
               <div class="readmore_bt"><a href="#">See More</a></div>
            </div>
         </div>
         <% } %>
    
      <!-- blog section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding margin_top90">
         <div class="container">
            <div class="footer_menu">
               <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/furnitures">Furnitures</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/contact">contact Us</a></li>
               </ul>
            </div>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script>
         $(document).ready(function() {
         var owl = $('.gift_owl_carousel');
         owl.owlCarousel({
         items: 3,
         loop: true,
         margin: 10,
         nav: true,
         dots: false,
         navText : ["<i class='fa fa-arrow-left'></i>","<i class='fa fa-arrow-right'></i>"],
         autoplay: false,
         autoplayTimeout: 3000,
         autoplayHoverPause: true,
         responsive: {
         0: {
            items: 1
         },
         769: {
            items: 2,
         },
         992: {
            items: 3
         }
         }
         });   
         });
      </script>
   </body>
</html>