<%-  include("partials/_header.ejs") -%>
   <body>
      <%-  include("partials/_navigation.ejs") -%>
      <!-- header section end -->
      <!-- furnitures section start -->
      <% if(!user) {%>
         <div class="furnitures_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="furnitures_taital">Our Furnitures Work</h1>
                     <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
                  </div>
               </div>
               <div class="furnitures_section_2">
                  <div class="row">
                     <% for(let i=0;i<category.length;i++){ %>
   
                     <div class="col-md-4">
                        <div class="hover01 column">
                           <figure><img src="images/img-1.png"></figure>
                        </div>
                        <h3 class="introduction_text"><%=category[i].category_name%></h3>
                        <div class="seemore_bt"><a href="/blog?categories=<%=category[i].slug%>">See More</a></div>
                     </div>
   
                     <%}%>
                  </div>
               </div>
            </div>
         </div>
         <%}%>







      <% if(user && user.role=='customer') {%>
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furnitures Work</h1>
                  <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
               </div>
            </div>
            <div class="furnitures_section_2">
               <div class="row">
                  <% for(let i=0;i<category.length;i++){ %>

                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-1.png"></figure>
                     </div>
                     <h3 class="introduction_text"><%=category[i].category_name%></h3>
                     <div class="seemore_bt"><a href="/blog?categories=<%=category[i].slug%>">See More</a></div>
                  </div>

                  <%}%>
               </div>
            </div>
         </div>
      </div>
      <%}%>
      <% if(user && user.role=='admin') {%>
         <div class="furnitures_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="furnitures_taital">Our Furnitures Work</h1>
                     <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
                  </div>
               </div>
               <div class="furnitures_section_2">
                  <div class="row">
                     <% for(let i=0;i<category.length;i++){ %>
   
                     <div class="col-md-4">
                        <div class="hover01 column">
                           <figure><img src="images/img-1.png"></figure>
                        </div>
                        <h3 class="introduction_text"><%=category[i].category_name%></h3>
                        <button type="button" class="btn btn-warning text-white" data-toggle="modal" data-target="#exampleModal<%=category[i].slug%>" data-whatever="@getbootstrap">UPDATE</button>
                        <a href="/admin/<%=category[i].slug%>?_method=DELETE" onclick="return confirm('ARE YOU SURE')" class="btn btn-danger text-white " >DELETE</a>
                     </div>
                        <!--UPDATE-->
                        <div class="modal fade" id="exampleModal<%=category[i].slug%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                           <div class="modal-content">

                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">PRODUCT</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>

                              <div class="modal-body">
                                 <form method="POST" action="/admin/<%=category[i].slug%>?_method=PUT">
                                    <div class="form-group">
                                       <input name="category_name" type="text" class="form-control" style="color: black;" value="<%=category[i].category_name%>" >
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                       <input name="category_description" type="text" class="form-control"  style="color: black;" value="<%=category[i].category_description%>">
                                    </div>
                                    <hr>
                                    <hr>
                                    <div class="form-group" style="display: block;">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                 </form>
                              </div>

                           </div>
                           </div>
                        </div>
                        <!--UPDATE finish-->
                     <%}%>
                  </div>
               </div>
            </div>
         </div>
         <%}%>
      <!-- furnitures section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding margin_top90">
         <div class="container">
            <div class="footer_menu">
               <ul>
                  <li><a href="index.html">HOME</a></li>
                  <li><a href="about.html">About</a></li>
                  <li class="active"><a href="furnitures.html">Furnitures</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="testimonial.html">Testimonial</a></li>
                  <li><a href="contact.html">contact Us</a></li>
               </ul>
            </div>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script>
         $(document).ready(function() {
         var owl = $('.gift_owl_carousel');
         owl.owlCarousel({
         items: 3,
         loop: true,
         margin: 10,
         nav: true,
         dots: false,
         navText : ["<i class='fa fa-arrow-left'></i>","<i class='fa fa-arrow-right'></i>"],
         autoplay: false,
         autoplayTimeout: 3000,
         autoplayHoverPause: true,
         responsive: {
         0: {
            items: 1
         },
         769: {
            items: 2,
         },
         992: {
            items: 3
         }
         }
         });   
         });
      </script>
   </body>
</html>